[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Categories=
Name=com.whitelabel
Icon=/usr/lib/com.whitelabel/assets/icon.png
Exec=/usr/bin/com.whitelabel